h1.item {
	margin-bottom: 0.3em;
}

table.items {
	margin-top: 1em;
}

table.items tr {
	height: 70px;
}

table.items tr td.item {
	border-top: 1px solid #ccc;
	vertical-align: top;
	padding-top: 10px;
}

table.items tr td.item span.timestamp {
	display: block;
	font-size: 85%;
	color: #666;
}

form.new_item {
	margin-bottom: 2em;
}

form.new_item textarea {
	height: 4em;
	margin-bottom: 0;
}