<h1>Account Information</h1>
<p>
	<strong>Name:</strong> <%= @user.name %>
</p>
<p>
	<strong>Email:</strong> <%= @user.email %>
</p>

<hr />

<h1>My List</h1>
<table class="profile">
	<tr>
		<td class="main"> 
			<% unless @user.items.empty? %>
		<table class="items" summary="User items">
			<tr><td>Item Title</td> 
				<td>Item Description</td>
				<td>Done?</td>
			</tr>
			<%= render @items %>
		</table> 
		<%= will_paginate @items %>
		<% end %> 
		</td>
	</tr>
</table>
