<% if signed_in? %>
<h1>Add an item to your list</h1>
<%= render 'shared/item_form' %>
<% else %>
<h1>Get started!</h1>
<%= link_to "Sign up now!", new_user_path, :class => "signup_button round" %>
<% end %>