<div id="inside">
	<div id="main">
		MAIN area for content (lists)
		<h2>My List</h2>
			<ul>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>

			</ul>
	
	</div>
	
	<div id="sidebar">
		SIDEBAR
		<p>
			Navigation
			<ul>
			<li>List 1</li>
			<li>List 2</li>
			<li>List 3</li>
			</ul>
		</p>
	</div>
	
	<div id="footer">FOOTER to contain disclaimer</div>
</div>
