<tr>
	<td class="items"><span class="title"><%= item.title %></span></td>
	<td class="items"><span class="body"><%= item.body %></span></td>
	<td class="items"><span class="done"><%= item.done %></span></td>
</tr>
