<tr>
	<td class="items">
		<span class="title"><%= items.title %></span>
		<span class="desc"><%= items.desc %></span>
		<span class="timestamp">
			Created <%= time_ago_in_words(items.created_at) %> ago.
		</span>
	</td>
</tr>
