#banner {
	background-color: #2F4F4F;
	height: 100px;
}

#inside {
	background-color: #2F4F4F;
	margin:0 auto;
	width: 800px;
}

#sidebar {
	background-color: #2F4F4F;
	width: 200px;
	float: left;
}

#main {
	background-color: #2F4F4F;
	width: 600px;
	float: right;
}
#footer {
	background-color: #2F4F4F;
	clear: both;
}

body, html {
    margin:0;
    padding:0;
    color:#000;
    background:#2F4F4F;
}
#bar {
	background-color: #FF99FF;
	text-align: center;
}