#banner {
	height: 100px;
}

#inside {
	background-color: #2F4F4F;
	margin:0 auto;
	width: 800px;
}

#sidebar {
	background-color: #FFFFFF;
	width: 100px;
	float: left;
	border-radius:10px;
	padding:10px;
}

#main {
	background-color: #FFFFFF;
	border-radius:10px;
	padding:10px;
	width: 650px;
	float: right;
}
#footer {
	background-color: #2F4F4F;
	clear: both;
}

body, html {
    margin:0;
    padding:0;
    color:#000;
    background:#2F4F4F;
}
#bar {
	background-color: #FF99FF;
	text-align: center;
}

a.signup_button{
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
width: 190px;
color: #fff;
background: #005400;
font-size: 150%;
font-weight: bold;
padding: 20px;
}

.round {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}